doctype html
html
  head
    title Инфо о пользователе
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://kodaktor.ru/boo.css')
  body
    .container
      h1 Инфо о пользователе
      hr
      #res.form-inline
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon Логин
          input#GossJS.form-control(value={username}, type='text', size='35')
        .input-group.mb-2.mr-sm-2.mb-sm-0
          .input-group-addon Пароль
          input#author.form-control(value={password}, type='text', size='35')
